@media (min-width: 640px){
    .arrow-down {
        cursor: pointer;
    }

    .img-section {
        min-height: 100vh;
    }

    #profile-pic {
        width: 100vw;
    }

    .profile-section .header .mevn-img {
        display: none;
    }

    .profile-section .footer img {
        opacity: 0;
    }

    .profile-section .footer img:hover {
        transform: scale(1.15);
    }

    .profile-body .text {
        width: 15vw;
        opacity: 0;
    }

    .profile-section .mevn-img {
        opacity: 0;
    }

    .nav {
        background-color: rgba(37, 34, 34, .8);
        position: absolute;
        bottom: -175px;
        z-index: 1;
        color: rgba(255, 255, 255, 0.8);
        transition: color .2s;
    }
    
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .welcome {
        position: absolute;
        top: 37vh;
        left: 8vw;
        color: aliceblue;
        text-align: center;
    }
    
    .welcome .hi {
        font-size: 26px;
        font-style: italic;
    }
    
    .welcome .name {
        font-size: 58px;
        font-weight: 600;
    }

    .welcome .name .line  {
        width: 70px;
        margin: 0 15px;
    }

    .welcome .name .bottom-line  {
        display: none;
    }

    .experience .education {
        width: 616px;
        height: 303px;
    }

    .to-be-faded {
        opacity: 0;
    }
}