body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.64;
}

#profile-pic {
    z-index: -1;
    width: 100vw;
    position: absolute;
    top: 0;
    /* filter: grayscale(1); */
}

.img-section {
    position: relative;
}

.navigator {
    /* position: fixed;
    top: calc(100vh - 300px); */
    background-color: rgba(255, 255, 255, 0.8);
    height: fit-content;
    position: fixed;
    bottom: 0;
    right: 5%;
}

.navigator img {
    width: 110px;
    height: 80px;
}

.profile-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.profile-section-content {
    width: 1000px;
    max-width: 100vw;
}

/* .profile-section .header {
} */

.profile-title, .profile-subtitle {
    font-weight: 300;
    text-align: center;
}

.profile-title {
    color: #206261;
    font-size: 54px;
}

.profile-subtitle {
    font-size: 21px;
    color: #727878;
}

.hr {
    border-bottom: #727878 1px solid;
    width: 100%;
    opacity: .3;
    margin: 40px 0;
}

.profile-body .text {
    /* height: 500px; */
    max-width: 300px;
    color: #727878;
}

.profile-body .text .profile-body-subtitle {
    margin: 20px 0;
    font-size: 28px;
    color: #206261;
}

.profile-body .text .details-subtitle {
    color: #434242;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

::-webkit-scrollbar-track {
    background-color: #434242;
  }
  ::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: #434242;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: white;
  }