body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.64;
}

a {
    text-decoration: none;
    color: inherit;
}

#profile-pic {
    z-index: -1;
    position: absolute;
    top: 0;
    /* filter: grayscale(1); */
}

.welcome {
    position: absolute;
    color: aliceblue;
    text-align: center;
}

.welcome .name .line, .welcome .name .bottom-line {
    border-bottom: aliceblue 1px solid;
}

.img-section {
    position: relative;;
}

.arrow-down, .nav {
    right: 5%;
}

.arrow-down, .nav-item {
    height: 87.5px;
    width: 110px;
}

.arrow-down {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
}

.arrow-down img {
    width: 110px;
    height: 80px;
}

.profile-section {
    position: relative;
    /* height: 100vh; */
    background-color: rgba(255, 255, 255, 0.8);
}

.profile-section-content {
    max-width: 100vw;
}

.profile-title, .profile-subtitle {
    font-weight: 300;
    text-align: center;
}

.section-title {
    color: #206261;
    font-size: 54px;
    font-weight: 600;
}

.profile-subtitle {
    font-size: 21px;
    color: #727878;
}

.hr {
    border-bottom: #727878 1px solid;
    width: 100%;
    opacity: .3;
    margin-block-end: 2em;
    margin-block-start: 2em;
}

.profile-body {
    margin-bottom: 80px;
}

.profile-body .text {
    /* height: 500px; */
    color: #727878;
    font-size: 18px;
}

.profile-body .text .profile-body-subtitle {
    margin: 20px 0;
    font-size: 28px;
    color: #206261;
}

.profile-body .text .details-subtitle {
    color: #434242;
    font-weight: bold;
}

.profile-section .footer {
    margin-bottom: 80px;
}

.profile-section .footer a {
    text-decoration: none;
}

.profile-section .footer img {
    width: 75px;
    height: 75px;
    margin: 0 15px;
    cursor: pointer;
    transition: all .5s cubic-bezier(.7,0,.3,1);
}

.arrow-down.to-experience {
    background-color: rgba(121, 55, 128, 0.6);
}

.experience-section {
    width: 100%;
    color: #727878;
    background-color: rgba(243, 239, 224, 0.8);
}

.experience-section-content {
    max-width: 100vw;
}

.experience-section-subtitle {
    margin: 0;
    font-weight: normal;
}

.experience-content .desc {
    min-width: 30%;
}

.experience-content .footer {
    color: #206261;
}

.experience-content .footer .separator {
    border-left: 1px solid #727878;
    opacity: .3;
    height: 17px;
    margin: 0 10px;
}

.footer .location img, .footer .link img {
    width: 18px;
    margin-right: 10px;
}

.experience .present .title {
    font-weight: bold;
    /* color: rgba(243, 239, 224, 0.8); */
}

.non-profit {
    margin-bottom: 45px;
}

.to-be-faded {
    opacity: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');

::-webkit-scrollbar-track {
    background-color: #434242;
  }
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
    background-color: #434242;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: white;
  }